<div class="container">
  <h2>Book Appointment</h2>
  <div>
    <label for="specializationSelect">Select Specialization:</label>
    <select id="specializationSelect" name="specialization" [(ngModel)]="selectedSpecialization"
      (change)="onSpecializationChange()">
      <option *ngFor="let specialization of service.specializations" [value]="specialization._id">{{ specialization.name
        }}</option>
    </select>
    <button class="mar" type="submit" (click)="clearConsultationFilter()">Clear Consultation Filter</button>
  </div>
 


  <div>
    <label class="margins"for="doctorSelect">Select Doctor:</label>
    <table>
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Doctor Email</th>
          <th>Doctor Phone Number</th>
          <th>Specialization</th>
          <th>Hospital</th>
          <th>Hospital Address</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of service.doctors">
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.email }}</td>
          <td>{{ doctor.phoneNumber }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.hospital }}</td>
          <td>{{ getHospitalAddress(doctor) }}</td>

          <td>
            <input type="radio" name="doctorRadio" [value]="doctor._id" [(ngModel)]="selectedDoctor">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedDoctor" class="margins">
    <label for="appointmentDate">Select Appointment Date:</label>
    <input type="date" id="appointmentDate" name="appointmentDate" [(ngModel)]="selectedDate"
      (change)="onSelectedDateChange($event)">

  </div>
  <div *ngIf="selectedDate" class="margins">
    <div *ngIf="slots && slots.length > 0">
      <label for="appointmentTime">Select Time Slot:</label>
    <select id="appointmentTime" name="appointmentTime" [(ngModel)]="selectedTimeSlot" (change)="checkSlotAvaliability()">
      <option *ngFor="let slot of slots" [value]="slot">{{ slot }}</option>
    </select>
    </div>
    <div *ngIf="!isSlotAvaliable" class="margins error">
      <span >Slot is not avaliable for booking consultation/Another appointment was made for particular slot.Please select another slot.</span>
  
    </div>

    <div  *ngIf="(slots && slots.length > 0)" class="margins">
      <button type="submit" (click)="submitAppointment(selectedDoctor)">Confirm Appointment</button>
    </div>
    <div *ngIf="!(slots && slots.length > 0)" class="margins error">
      <span >No avaliable slots for the doctor selected on the selected date</span>

    </div>
  </div>




</div>