<section class="error">
  <div *ngIf="showIncorrectPasswordError">
    <span>Incorrect Password</span>
  </div>
  <div *ngIf="showNotApprovedMsg">
    <span>Admin has not approved the visibility</span>
  </div>
  <div *ngIf="showNoUser">
    <span>User not found, please register</span>
  </div>
</section>


<form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email">
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
     
      <input type="{{ isPasswordVisible ? 'text' : 'password' }}" [(ngModel)]="user.password"
      name="password" class="form-control" id="password">
      <span class="password-toggle-icon" [class.fa-eye]="isPasswordVisible"
      [class.fa-eye-slash]="!isPasswordVisible" (click)="togglePasswordVisibility()"></span>
    </div>
  
    <button type="submit" class="btn btn-primary" (click)="getData()">Login</button>
  </form>
  